In [2]:
from pymongo import MongoClient
client = MongoClient('localhost:27017')
db = client['testdb']
collection = db['users']
# Adding documents to the collection
collection.insert_many([
    {'name': 'Ahmad', 'age': 24, 'email': 'dH6lM@example.com'},
    {'name': 'Jane', 'age': 25, 'email': 'jane@example'},
    {'name': 'Bob', 'age': 35, 'email': 'bK8oK@example.com'},
    {'name': 'Alice', 'age': 40, 'email': 'bK8oK@example.com'},
    {'name': 'Harry', 'age': 45, 'email': 'bK8oK@example.com'},
])

InsertManyResult([ObjectId('678170fca1800f019e9cc243'), ObjectId('678170fca1800f019e9cc244'), ObjectId('678170fca1800f019e9cc245'), ObjectId('678170fca1800f019e9cc246'), ObjectId('678170fca1800f019e9cc247')], acknowledged=True)

In [4]:
# Reading data
for user in collection.find():
    print(user)

{'_id': ObjectId('678170fca1800f019e9cc243'), 'name': 'Ahmad', 'age': 24, 'email': 'dH6lM@example.com'}
{'_id': ObjectId('678170fca1800f019e9cc244'), 'name': 'Jane', 'age': 25, 'email': 'jane@example'}
{'_id': ObjectId('678170fca1800f019e9cc245'), 'name': 'Bob', 'age': 35, 'email': 'bK8oK@example.com'}
{'_id': ObjectId('678170fca1800f019e9cc246'), 'name': 'Alice', 'age': 40, 'email': 'bK8oK@example.com'}
{'_id': ObjectId('678170fca1800f019e9cc247'), 'name': 'Harry', 'age': 45, 'email': 'bK8oK@example.com'}

In [5]:
# updating data
collection.update_one({'name': 'Ahmad'}, {'$set': {'age': 25}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [6]:
# deleting users less than 18 years old
collection.delete_many({'age': {'$lt': 18}})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [10]:
# finding average ages for users
output = collection.aggregate([
    {'$group': {'_id': None, 'average_age': {'$avg': '$age'}}}
    ])

for doc in output:
    print(doc)

{'_id': None, 'average_age': 34.0}

In [11]:
# Finding users above 30 years old
output = collection.aggregate([
    {'$match': {'age': {'$gt': 30}}},
    ])

for doc in output:
    print(doc)

{'_id': ObjectId('678170fca1800f019e9cc245'), 'name': 'Bob', 'age': 35, 'email': 'bK8oK@example.com'}
{'_id': ObjectId('678170fca1800f019e9cc246'), 'name': 'Alice', 'age': 40, 'email': 'bK8oK@example.com'}
{'_id': ObjectId('678170fca1800f019e9cc247'), 'name': 'Harry', 'age': 45, 'email': 'bK8oK@example.com'}

In [12]:
# Grouping users by age
output = collection.aggregate([
    {'$group': {'_id': '$age', 'count': {'$sum': 1}}},
    ])

for doc in output:
    print(doc)

{'_id': 35, 'count': 1}
{'_id': 40, 'count': 1}
{'_id': 25, 'count': 2}
{'_id': 45, 'count': 1}